<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__content">
      <div class="navbar__title">
        test
      </div>
      <div class="navbar__menu">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar__menu__item">
          Accueil
        </a>
        <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar__menu__item">
          Produits
        </a>
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar__menu__item">
          Contactez-nous
        </a>
      </div>
    </div>
    <div class="navbar__logo">
      <img src="https://avatars.githubusercontent.com/u/55129304?v=4" alt="Logo" class="navbar__logo__image" />
    </div>
  </div>
</nav>