<!-- Toolbar -->
<mat-toolbar class="toolbar">
  <div class="toolbar-container">
    <section class="toolbar-left">
      <!-- Add drawer -->
      <button class="toolbar-drawer-button" (click)="drawer.toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="toolbar-logo">
        <a [routerLink]="['/']" routerLinkActive="active" ariaCurrentWhenActive="page" class="toolbar-logo">
          <img src="/assets/images/logo/bingsu_logo.jpg" alt="logo" class="toolbar-logo-image">
        </a>
      </div>
    </section>
    <section class="toolbar-middle">
      <div class="toolbar-title">
        <a [routerLink]="['/']" routerLinkActive="active" ariaCurrentWhenActive="page" class="toolbar-title">
          Bingsu Project
        </a>
      </div>
      <div class="toolbar-menu">
        @for (item of product_links; track $index) {
        <a [routerLink]="['/products/', item.path]" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="toolbar-menu-item">
          {{ item.name }}
        </a>
        }
      </div>
    </section>
    <section class="toolbar-right">
      <div class="toolbar-buttons">
        @for (item of buttons_links; track $index) {
        <a [routerLink]="item.path" routerLinkActive="active" ariaCurrentWhenActive="page" class="toolbar-button"
          [tabIndex]="$index">
          <img src="{{ item.icon }}" alt="{{ item.name }}" class="toolbar-button-icon" />
        </a>
        }
      </div>
      <!-- Language here -->
      <!-- <div class="toolbar-language">
        <button class="toolbar-language-button" [matMenuTriggerFor]="menuLanguage">
          <mat-icon class="toolbar-language-button-icon">
            language
          </mat-icon>
        </button>
        <mat-menu #menuLanguage>
          <div class="toolbar-language-menu">
            @for (item of languages; track $index) {
            <button class="toolbar-language-menu-button" (click)="handleLanguageSwitch(item.code)" [tabIndex]="$index">
              <img src="{{ item.iconPath }}" alt="{{ item.text }}" class="toolbar-language-menu-button-image" />
              <span class="toolbar-language-menu-button-text">
                {{ item.text }}
              </span>
            </button>
            }
          </div>
        </mat-menu>
      </div> -->
    </section>
  </div>
</mat-toolbar>

<!-- Drawer -->
<app-drawer #drawer>
  <section class="drawer-content">
    <div class="drawer-logo">
      <img src="/assets/images/logo/bingsu_logo.jpg" alt="logo" class="drawer-logo-image">
    </div>
    <div class="drawer-menu">
      <h3 class="drawer-title">
        Links
      </h3>
      @for (item of buttons_links; track $index) {
      <a [routerLink]="['/', item.path]" routerLinkActive="active" ariaCurrentWhenActive="page" class="drawer-menu-item"
        [tabIndex]="$index">
        {{ item.name }}
      </a>
      }
    </div>
    <div class="drawer-menu">
      <h3 class="drawer-title">
        Products
      </h3>
      @for (item of product_links; track $index) {
      <a [routerLink]="['/products/', item.path]" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="drawer-menu-item" [tabIndex]="$index">
        {{ item.name }}
      </a>
      }
    </div>
  </section>
  <section class="drawer-social">
    @for (item of social_links; track $index) {
    <a [routerLink]="item.url" target="_blank" class="drawer-social-item" [tabIndex]="$index">
      <img src="{{ item.iconPath }}" alt="{{ item.name }}" class="drawer-social-item-image">
    </a>
    }
  </section>
</app-drawer>