@use "../../../variables.scss" as *;

.searchbar {
  background: #f3f3f3;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;

  input {
    border: none;
    width: 100%;
    background: transparent;
    font-size: 1rem;
    color: #333;
    outline: none;
  }

  button {
    border: none;
    background: transparent;
    color: #333;
    cursor: pointer;
    transition: transform $transition-time $transition-type;

    &:hover {
     transform: rotate(15deg); 
    }
  }
}

@media screen and (max-width: 768px) {
  .searchbar {
    margin-top: 1.5rem;
    margin-bottom: 0;

    button {
     display: none;
    }
  }
}