@use "../../../variables.scss" as *;

.searchbar {
  background: #f3f3f3;
  padding: 0.35rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all $transition-time $transition-type;

  input {
    border: none;
    width: 100%;
    background: transparent;
    font-size: 1rem;
    color: $text;
    outline: none;
  }

  button {
    border: none;
    background: transparent;
    color: $text;
    cursor: pointer;
    transition: transform $transition-time $transition-type;

    &:hover {
     transform: rotate(15deg); 
    }
  }

  &:hover {
    border-color: $color-3;
  }

  &:focus-within {
    border-color: $color-4;
  }
}