@use "../../../variables.scss" as *;

.link-component {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
  color: $text-light;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: $transition-time $transition-type;
  text-decoration: none;

  &:hover {
    background-color: $text-light;
    color: $color-4;
    border-color: $color-4;
  }
}

.color {
  &-1 {
    color: $color-1;
  }

  &-2 {
    color: $color-2;
  }

  &-3 {
    color: $color-3;
  }

  &-4 {
    color: $color-4;
  }

  &-5 {
    color: $color-5;
  }
  &-light {
    color: $text-light;
  }
  &-dark {
    color: $text;
  }
}

.border-color {
  &-1 {
    border-color: $color-1;
  }

  &-2 {
    border-color: $color-2;
  }

  &-3 {
    border-color: $color-3;
  }

  &-4 {
    border-color: $color-4;
  }

  &-5 {
    border-color: $color-5;
  }
}

.bg-color {
  &-1 {
    background-color: $color-1;
  }
  &-2 {
    background-color: $color-2;
  }
  &-3 {
    background-color: $color-3;
  }
  &-4 {
    background-color: $color-4;
  }
  &-5 {
    background-color: $color-5;
  }
}

.text {
  &-lg {
    font-size: 18px;
  }

  &-md {
    font-size: 16px;
  }

  &-sm {
    font-size: 14px;
  }

  &-xs {
    font-size: 12px;
  }

  &-xxs {
    font-size: 10px;
  }
}

