@use "../../../variables.scss" as *;

.contact {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  position: relative;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &-sticker {
    &-1 {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 10rem;
      right: 40px;
      opacity: 0.6;
      transform: rotate(20deg);
      z-index: -1;
    }

    &-2 {
      position: absolute;
      width: 200px;
      height: 200px;
      bottom: 3rem;
      left: 40px;
      opacity: 0.6;
      transform: rotate(-20deg);
      z-index: -1;
    }
  }

  &-header {
    width: 700px;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      font-size: 16px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #1d3557;
      word-break: break-word;
      line-height: 1.5;
    }

    ul {
      margin-left: 32px;
      margin-bottom: 1rem;

      li {
        font-size: 14px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #1d3557;
        word-break: break-word;
        line-height: 1.5;
      }
    }
  }

  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;

    .input-group {
      width: 700px;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        color: $text;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 0.5rem;
        position: relative;
      }

      input {
        border: 0;
        outline: 0;
        padding: 10px 16px;
        background-color: $background;
        border: 1px solid $text;
        border-radius: 10px;
        color: $text;
        transition: border-color $transition-time $transition-type;

        &:focus {
          border-color: $color-4;
        }
      }

      textarea {
        border: 0;
        outline: 0;
        padding: 10px 16px;
        background-color: $background;
        border: 1px solid $text;
        border-radius: 10px;
        color: $text;
        min-height: 160px;
        resize: vertical;
        transition: border-color $transition-time $transition-type;

        &:focus {
          border-color: $color-4;
        }
      }
    }

    button {
      padding: 1rem;
      color: $color-5;
      background-color: transparent;
      border: 1px solid $color-5;
      border-radius: 15px;
      cursor: pointer;
      transition: all $transition-time $transition-type;

      &:hover {
        color: $color-4;
        border-color: $color-4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 0 2rem;

    &-sticker {
      &-1 {
        width: 150px;
        height: 150px;
        top: 10rem;
        right: 20px;
      }

      &-2 {
        width: 150px;
        height: 150px;
        bottom: 3rem;
        left: 20px;
      }
    }

    &-header {
      width: 400px;
    }

    &-body {
      .input-group {
        width: 400px;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .contact {
    &-header {
      width: 100%;
    }

    &-sticker {
      &-1 {
        display: none;
      }

      &-2 {
        display: none;
      }
    }

    &-body {
      .input-group {
        width: 100%;
      }
    }
  }
}