<main class="products" id="products">
  <div class="container">
    <div class="wrapper">
      <h1 class="title">
        <span>Our </span>
        <span class="fancy">{{ currentTitle }}</span>
      </h1>
      <section class="filters">
        <div class="searchbar">
          <app-searchbar [(searchTerm)]="searchTerm" [placeholder]="'Search for products...'"
            (searchTermChange)="filterProductsBySearchTerm()" />
        </div>
        <div class="checkbox-filters">
          <p-select [options]="filters" optionLabel="title" placeholder="Filter products" [showClear]="true" class="select" ariaLabel="Filters options" (onChange)="filterProducts()" />
        </div>
      </section>
      <article class="cards">
        @if (isLoading) {
        <app-spinner [size]="'lg'" />
        }
        @else {
        @for (item of displayedProducts; track $index) {
        <app-card [id]="item.id" [title]="item.title" [description]="item.description" [imagePath]="item.image"
          [discount]="item.discount" [available]="item.available" [labels]="item.labels" [options]="item.options"
          [kcal]="item.kcal" [category]="currentParameterRoute" />
        }
        }
      </article>
    </div>
  </div>
</main>