@use "../../../variables.scss" as *;

.button-component {
  padding: 1rem;
  color: $text-light;
  background-color: transparent;
  border: 1px solid $text-light;
  border-radius: 15px;
  cursor: pointer;
  transition: all $transition-time $transition-type;

  &:hover {
    background-color: $text-light;
    color: $color-4;
    border-color: $color-4;
  }
}

.color {
  &-primary {
    color: $color-1;
  }

  &-secondary {
    color: $color-2;
  }

  &-tertiary {
    color: $color-3;
  }

  &-quaternary {
    color: $color-4;
  }

  &-quinary {
    color: $color-5;
  }
}

.border-color {
  &-primary {
    border-color: $color-1;
  }

  &-secondary {
    border-color: $color-2;
  }

  &-tertiary {
    border-color: $color-3;
  }

  &-quaternary {
    border-color: $color-4;
  }

  &-quinary {
    border-color: $color-5;
  }
}

.text {
  &-lg {
    font-size: 18px;
  }

  &-md {
    font-size: 16px;
  }

  &-sm {
    font-size: 14px;
  }

  &-xs {
    font-size: 12px;
  }

  &-xxs {
    font-size: 10px;
  }
}

