@use "../../../variables.scss" as *;

.textarea-group {
  width: 700px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1rem;
    color: $text;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    position: relative;
  }

  textarea {
    border: 0;
    outline: 0;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid $text;
    border-radius: 10px;
    color: $text;
    min-height: 200px;
    resize: vertical;
    transition: border-color $transition-time $transition-type;

    &:focus {
      border-color: $color-4;
    }
  }
}

@media screen and (max-width: 768px) {
  .textarea-group {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .textarea-group {
    width: 185px;
  }
}