<main id="product" class="product">
  <div class="container">
    @if (product) {
    <section class="product-bloc">
      <img class="product-bloc-img" src="{{ product.image }}" alt="product-img">
      <div class="product-bloc-info">
        <h1>{{ product.title }}</h1>
        @if (product.labels.length > 0) {
          <div class="product-bloc-labels">
            @for (item of product.labels; track $index) {
            <app-label [classname]="item.classname">
              {{ item.title }}
            </app-label>
            }
          </div>
        }
        <p>{{ product.description }}</p>
        <span class="product-bloc-info-availability {{ product.available ? 'available' : 'unavailable' }}">
          {{ product.available ?
          "Available" :
          "Out of stock"
          }}
        </span>
        <div class="product-bloc-ingredients">
          <span class="product-bloc-ingredients-title">Ingredients ({{ product.kcal}} kcal)</span>
          <ul>
            @for (item of product.ingredients; track $index) {
            <li>{{ item }}</li>
            }
          </ul>
        </div>
        <div class="product-bloc-section">
          <div class="product-bloc-options">
            @for (item of product.options; track $index) {
            <div class="product-bloc-radio">
              <label for="{{ item.id }}">
                {{ item.value }}
              </label>
              <input type="radio" name="size_{{ item.id }}" id="{{ item.id }}" value="{{ item.value }}"
                (change)="handleSelectedOption(item.id, item.value, item.price)"
                [checked]="selectedOptionId === item.id" />
            </div>
            }
          </div>
          <div class="product-bloc-price">
            @if (isDiscount) {
            <span class="product-bloc-price-discount">
              {{ priceBeforeDiscount }}<span class="product-bloc-price-currency">€</span>
            </span>
            }
            <span class="product-bloc-price-text {{ isDiscount ? 'discount' : '' }}">
              {{ displayedPrice }}<span class="product-bloc-price-currency">€</span>
            </span>
          </div>
        </div>
      </div>
    </section>
    <br class="separator" />
    <section class="suggestions">
      <h1 class="suggestions-title">
        Want to try something else ?
      </h1>
      <div class="suggestions-carousel">
        <p-carousel [value]="randomProducts" [numVisible]="3" [numScroll]="2" [responsiveOptions]="responsiveOptions">
          <ng-template let-product #item>
            <app-card type="carousel" [id]="product.id" [title]="product.title" [description]="product.description"
              [imagePath]="product.image" [discount]="product.discount" [available]="product.available"
              [labels]="product.labels" [options]="product.options" [kcal]="product.kcal" />
          </ng-template>
        </p-carousel>
      </div>
    </section>
    }@else {
    <div class="product-not-found">
      <h1>Produit introuvable</h1>
    </div>
    }
  </div>
</main>