<main id="product" class="product">
  <div class="container">
    @if (product) {
    @if(loadingProduct) {
    <section class="product-bloc">
      <p-skeleton width="clamp(10rem, 50vw, 500px)" height="clamp(10rem, 50vw, 500px)"></p-skeleton>
      <div class="product-bloc-info">
        <p-skeleton width="70%" height="64px" styleClass="mb-2"></p-skeleton>
        <div class="product-bloc-labels">
          <p-skeleton width="80px" height="30px" styleClass="mr-2"></p-skeleton>
          <p-skeleton width="80px" height="30px"></p-skeleton>
        </div>
        <p-skeleton width="clamp(5rem, 30vw, 300px)" height="80px" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="120px" height="24px" styleClass="mb-2"></p-skeleton>
        <div class="product-bloc-ingredients">
          <p-skeleton width="200px" height="24px" styleClass="mb-2"></p-skeleton>
          <ul>
            <li><p-skeleton width="90%" height="10px" styleClass="mb-2"></p-skeleton></li>
            <li><p-skeleton width="80%" height="10px" styleClass="mb-2"></p-skeleton></li>
            <li><p-skeleton width="85%" height="10px"></p-skeleton></li>
          </ul>
        </div>
        <div class="product-bloc-section">
          <div class="product-bloc-options">
            <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"></p-skeleton>
            <p-skeleton shape="circle" width="40px" height="40px" styleClass="mr-2"></p-skeleton>
            <p-skeleton shape="circle" width="40px" height="40px"></p-skeleton>
          </div>
          <div class="product-bloc-price">
            <p-skeleton width="100px" height="80px"></p-skeleton>
          </div>
        </div>
      </div>
    </section>
  }
    @else {
    <section class="product-bloc">
      <img class="product-bloc-img" src="{{ product.image }}" alt="product-img">
      <div class="product-bloc-info">
        <h1>{{ product.title }}</h1>
        @if (product.labels.length > 0) {
        <div class="product-bloc-labels">
          @for (item of product.labels; track $index) {
          <app-label [classname]="item.classname">
            {{ item.title }}
          </app-label>
          }
        </div>
        }
        <p>{{ product.description }}</p>
        <span class="product-bloc-info-availability {{ product.available ? 'available' : 'unavailable' }}">
          {{ product.available ?
          "Available" :
          "Out of stock"
          }}
        </span>
        <div class="product-bloc-ingredients">
          <span class="product-bloc-ingredients-title">Ingredients ({{ product.kcal}} kcal)</span>
          <ul>
            @for (item of product.ingredients; track $index) {
            <li>{{ item }}</li>
            }
          </ul>
        </div>
        <div class="product-bloc-section">
          <div class="product-bloc-options">
            @for (item of product.options; track $index) {
            <div class="product-bloc-radio">
              <label for="{{ item.id }}">
                {{ item.value }}
              </label>
              <input type="radio" name="size_{{ item.id }}" id="{{ item.id }}" value="{{ item.value }}"
                (change)="handleSelectedOption(item.id, item.value, item.price)"
                [checked]="selectedOptionId === item.id" />
            </div>
            }
          </div>
          <div class="product-bloc-price">
            @if (isDiscount) {
            <span class="product-bloc-price-discount">
              {{ priceBeforeDiscount }}<span class="product-bloc-price-currency">€</span>
            </span>
            }
            <span class="product-bloc-price-text {{ isDiscount ? 'discount' : '' }}">
              {{ displayedPrice }}<span class="product-bloc-price-currency">€</span>
            </span>
          </div>
        </div>
      </div>
    </section>
    }
    <hr class="separator" />
    <section class="suggestions">
      <h1 class="suggestions-title pacifico-regular">
        Want to try something else ?
      </h1>
      @if(loadingCarouselRandomProduct) {
      <app-spinner [size]="'lg'"/>
      }
      @else {
      <div class="suggestions-carousel">
        <p-carousel [value]="randomProducts" [numVisible]="3" [numScroll]="2" [responsiveOptions]="responsiveOptions">
          <ng-template let-product #item>
            <app-card type="carousel" [id]="product.id" [title]="product.title" [description]="product.description"
              [imagePath]="product.image" [discount]="product.discount" [available]="product.available"
              [labels]="product.labels" [options]="product.options" [kcal]="product.kcal" [category]="category" />
          </ng-template>
        </p-carousel>
      </div>
      }
    </section>
    }
    @else {
    <div class="product-not-found">
      <h1>Product not found</h1>
      <p>We're sorry, but the product you are looking for does not exist.</p>
    </div>
    }
  </div>
</main>