<div class="card {{ classType }}" id="{{ id }}">
  <div class="card-container">
    <!-- mettre skeleton pour loading image -->
    @if (available) {
    <a [routerLink]="['/products', category, id]" class="card-link" target="_parent" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="{{ imagePath }}" alt="{{ title }}" class="card-image {{ available ? '' : 'image-darker'}}" />
    </a>
    } @else {
    <img src="{{ imagePath }}" alt="{{ title }}" class="card-image {{ available ? '' : 'image-darker'}}" />
    }
    <div class="card-labels">
      @for (item of labels; track $index) {
      <app-label [classname]="item.classname">
        {{ item.title }}
      </app-label>
      }
    </div>
    @if (available) {
    <a [routerLink]="['/products', category, id]" class="card-link" target="_parent" routerLinkActive="active"
    ariaCurrentWhenActive="page">
      <h2 class="card-title">
        {{ title }}
      </h2>
    </a>
    } @else {
    <h2 class="card-title">
      {{ title }}
    </h2>
    }
    <p class="card-description">
      {{ description }}
    </p>
    <div class="card-options">
      @for (item of options; track $index) {
      <div class="card-radio">
        <label for="{{ item.id }}">
          {{ item.value }}
        </label>
        <input type="radio" name="size_{{ id }}" id="{{ item.id }}" value="{{ item.value }}"
          (change)="handleSelectedOption(item.id, item.value, item.price)"
          [checked]="available && selectedOptionId === item.id" />
      </div>
      }
    </div>
    <div class="card-price">
      @if (available) {
      @if (isDiscount) {
      <span class="card-price-discount">
        {{ priceBeforeDiscount }}<span class="card-price-currency">€</span>
      </span>
      }
      <span class="card-price-text {{ isDiscount ? 'discount' : '' }}">
        {{ displayedPrice }}<span class="card-price-currency">€</span>
      </span>
      } @else {
      <span class="out-of-stock">Out of stock</span>
      }
    </div>
  </div>
</div>