$color-1: #e63946;
$color-2: #f1faee;
$color-3: #a8dadc;
$color-4: #457b9d;
$color-5: #1d3557;

$background: #fefefe;
$text: #333333;
$text-light: #fefefe;
$border-color: #e0e0e0;
$transition-time: 0.2s;
$transition-type: ease-in-out;

// Drawer
$space: clamp(1rem, 10vw, 3rem);

// Label
$color-new: #00b4d8;
$color-best-seller: #a5be00;
$color-discount: #c1121f;